@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&display=swap');
*,
*:before,
 *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    font-family: var(--font-main), 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--light-color);
}

.icon{
    width: var(--size-icon);
    color: var(--dark-color);
    filter: invert(16%) sepia(33%) saturate(2428%) hue-rotate(4deg) brightness(100%) contrast(101%);
}

main, footer, header {
    width: 80%;
    /*max-width: 1900px;*/
    margin: 0 auto;
    padding-top: var(--spacing-md);
}

section {
    padding-top: var(--spacing-md);
}