footer{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:30px;
    }
}
